html
{
    display:flex;
    justify-content: center;
}
header > *{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.ligne{
    display:flex;
}
.block{
    width : 25px;
    height : 25px;
    border: 1px solid black;
}

.closed
{
    background : grey;
}

.open 
{
    background: white;
}

/* #demineur
{
    display:block;
} */